{% extends 'common/base.html' %}

{% block content %}
    <div class="container">
        <h1>Create a new post</h1>
        <form class="{% if error %} was-validated {% endif %}" method="POST">
            {% csrf_token %}
            
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">Title</label>
                <input type="text" class="form-control" id="validationServer01" value="{{ title }}" name="title" required>
                <div class="invalid-feedback">
                    Title is required!
                </div>
            </div>

            <div class="mb-3">
                <label for="validationTextarea" class="form-label">Content</label>
                <textarea class="form-control" id="validationTextarea"
                          placeholder="Required example textarea" name="content" required>{{ content }}</textarea>
                <div class="invalid-feedback">
                    Please enter a message in the textarea.
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock %}