{% extends 'common/base.html' %}

{% block content %}
    <div class="container">
        <h1> Posts</h1>
        {% if posts %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Context</th>
                    <th scope="col">Author</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Updated at</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <th scope="row">{{ post.id }}</th>
                        <td>{{ post.title }}</td>
                        <td>{{ post.content }}</td>
                        <td>{{ post.author }}</td>
                        <td>{{ post.created_at }}</td>
                        <td>{{ post.updated_at }}</td>
                        <td><a href="{% url 'post-show' post.id %}">Show</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Posts not found</p>
        {% endif %}
    </div>
{% endblock %}